<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Home</title>
</head>
<body>
    <h1>Random Words</h1>
    <a href="/login">Login</a>
    <a href="/signup">Sign up</a>
    <p>This is a good website to post random words you are trying to learn.</p>
  </body>
</html>